@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .restart {
    @apply top-10 bg-green-500 p-2 text-2xl hover:bg-green-200 transition duration-150  hover:ease-in;
  }
  #game {
    @apply top-[50%] left-[50%] absolute  grid grid-cols-3;
  }
}

.transform-translate {
  transform: translate(-50%, -50%);
}

.x::after {
  content: "❌";
}

.o::after {
  content: "⭕";
}

.disabled {
  cursor: not-allowed;
}

.grid-cell:not(.disabled):hover {
  background: #eee;
}

.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
  position: absolute;
  top: -200px;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  transform: translateX(-15%);
}

.visible {
  display: block;
}

.grid-cell {
  border: 1px solid #000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.grid-cell:not(.disabled):hover {
  background: rgb(168, 226, 199);
}

.grid-cell:nth-child(-n + 3) {
  border-top: none;
}

.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}
